.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "title title title"
                         "calc button result";
    gap: 0px 100px;
    align-items: center;
    justify-items: center;
                         
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: #152266;
    border-radius: 10px;
    padding: 50px;
}

h1 {
    grid-area: title;
}

.addends {
    grid-area: calc;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

input {
    background-color: lightskyblue;
    border-radius: 20px;
    height: 80px;
    width: 120px;
    text-align: center;
}

button {
    background-color: #1E50E4;
    width: 70px;
    height: 50px;
    border-radius: 10px 0px;
    grid-area: button;
}

h3 {
    grid-area: result;
}